* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Gotham Pro', sans-serif;
  font-weight: 400;
  color: #292929;
}

.container {
  max-width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.btn {
  width: 200px;
  height: 50px;
  font-size: 12px;
  font-weight: 500;
  color: #0d0d0d;
  background-color: #ffd200;
  border: none;
}

.btn:hover {
  background-color: #c5a421;
  cursor: pointer;
}

.header {
  padding-top: 30px;
  padding-bottom: 60px;
}

.header .container {
  position: relative;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-logo__img {
  margin-right: 14px;
}

.header-logo__text {
  font-size: 11px;
  font-weight: 300;
}

.header-logo__text-1 {
  display: block;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}

.header-logo__text-2 {
  font-size: 11px;
  font-weight: 300;
  color: #969696;
}

.header-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-contact {
  text-align: right;
}

.header-contact__phone {
  display: block;
  font-size: 18px;
  font-weight: 700;
}

.header-contact__descr {
  font-size: 11px;
  font-weight: 400;
  color: #969696;
}

.header__button {
  width: 160px;
  height: 40px;
  margin-left: 30px;
  border: 2px solid #292929;
  background-color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  color: #292929;
}

.header__button:hover {
  cursor: pointer;
  color: grey;
  border-color: grey;
}

.header-nav {
  position: absolute;
  content: '';
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
  padding-left: 20px;
  padding-right: 20px;
  height: 60px;
  background-color: #ffcc00;
}

.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header-nav-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

.header-nav-list__link:hover {
  background-color: #c5a421;
}

.promo {
  background: url("../img/promo/promo-bg.jpg") no-repeat;
  min-height: 550px;
  padding-top: 170px;
  padding-bottom: 140px;
}

.promo__title {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.promo__subtitle {
  max-width: 240px;
  margin-bottom: 65px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #fff;
}

.promo__btn {
  margin-right: 30px;
}

.promo__link {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}

.catalog {
  padding-top: 80px;
  padding-bottom: 80px;
}

.catalog__title {
  margin-bottom: 60px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #292929;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-item {
  padding-left: 35px;
  padding-right: 35px;
  width: 300px;
  border: 2px solid #f6f6f6;
  text-align: center;
}

.catalog-item__img {
  width: 100%;
  height: 180px;
  margin-bottom: 30px;
}

.catalog-item__title {
  margin-bottom: 19px;
  font-size: 15px;
  font-weight: 500;
  text-decoration: underline;
  color: #292929;
}

.catalog-item__descr {
  margin-bottom: 29px;
  font-size: 13px;
  font-weight: 300;
  color: #626262;
}

.catalog-item__price {
  display: block;
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 500;
  color: #0f0f0f;
}

.catalog-item__btn {
  margin-bottom: 36px;
}

.advantages {
  background-color: #f4f4f4;
  padding-top: 80px;
  padding-bottom: 80px;
}

.advantages__title {
  margin-bottom: 60px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages-item {
  position: relative;
  max-width: 300px;
  padding-top: 130px;
  padding-bottom: 43px;
  padding-left: 25px;
  padding-right: 25px;
  border: 2px solid #ffffff;
  color: #292929;
  text-align: center;
}

.advantages-item:hover {
  background-color: #fff;
}

.advantages-item__title {
  font-size: 15px;
  font-weight: 500;
}

.advantages-item__descr {
  font-size: 12px;
  font-weight: 300;
}

.advantages .pig-icon::before {
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  top: 40px;
  left: 124px;
  background-image: url("../img/advantages/piggy-bank.png");
}

.advantages .van-icon::before {
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  top: 40px;
  left: 124px;
  background-image: url("../img/advantages/van.png");
}

.advantages .wheelbarrow-icon::before {
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  top: 40px;
  left: 124px;
  background-image: url("../img/advantages/wheelbarrow.png");
}
/*# sourceMappingURL=style.css.map */